@import "~bootstrap/scss/bootstrap";
body, html, p, h1, h2 {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: black;
}

h2 {
    font-size: 25px;
}

.app-wrapper {
    padding: 15px 0 15px 15px;
    color: white;
    border-bottom: 1px solid #282828;
}

.cards {
    width:100%;
    overflow: scroll;
}

.cl-blue {
    color: #177ae4;
}

.cl-gray {
    color: #8e8e90;
}

.arrow {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    transform: rotate(90deg);
    &::after, &::before {
        content: '';
        display: block;
        width: 15px;
        height: 2px;
        background-color: #8e8e90;
        position: absolute;
    }

    &::before {
        transform: rotate(45deg);
        top: 5px;
    }

    &::after {
        transform: rotate(-45deg);
        top: 15px;
    }
}