@import "~bootstrap/scss/bootstrap";
body, html, p, h1, h2 {
    padding: 0;
    margin: 0;
    background-color: black;
}

.app-wrapper {
    padding: 15px 0 15px 15px;
    color: white;
    border-bottom: 1px solid #282828;
}

.cards {
    width:100%;
    overflow: scroll;
}

.cl-blue {
    color: #177ae4;
}

.cl-gray {
    color: #8e8e90;
}